@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fade-in 0.5s;
}

.fade-out {
  animation: fade-out 0.5s;
}

.top-header {
  position: fixed;
  z-index: 15;
  height: 4em;
  background-color: rgba(22, 34, 57, 0.95);

  > nav > ul {
    height: 100%;
    
    > li {
      &:not(:last-child) {
        padding-right: 2em;
      }

      display: inline-flex;
      align-items: center;
      height: 100%;
      list-style-type: none;
      
      > a {
        color: white;
        font-size: 0.8em;
        font-weight: bold;
        transition: all 0.25s ease-in;
        padding: 0.75em 1em;
  
        &:hover {
          box-shadow: 0 0 1px 1px rgb(248, 190, 0);
          text-decoration: none;
        }
      }
  
      > button {
        color: white;
        border: none;
        background: transparent;
        font-size: 0.8em;
        font-weight: bold;
        transition: all 0.25s ease-in;
        padding: 0.75em 1em;
  
        &:hover {
          box-shadow: 0 0 1px 1px rgb(248, 190, 0);
          text-decoration: none;
        }
      }
    }
  }

  .submenu-dropdown {
    position: relative;

    .submenu {
      background: rgba(22, 34, 57, 0.95);
      display: none;
      font-size: 12px;
      top: 100%;
      transition: all 0.4s ease;
      width: 125px;
      
      > li {
        list-style-type: none;
        padding: 1em 1.5em;
        
        > a {
          color: white;
          font-size: 0.8em;
          font-weight: bold;
          transition: all 0.25s ease-in;

          &:hover {
            color: rgb(248, 190, 0);
            text-decoration: none;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid rgb(22, 34, 57);
        }
      }
    }
  }
}
