.top-header {
  nav {
    background-color: rgba(22,34,57,0.95);
    height: 4em;
    width: 100%;

    a {
      color: white;
      font-size: 0.8em;
      font-weight: bold;
      transition: all 0.25s ease-in;

      &:hover {
        box-shadow: 0 0 1px 1px rgb(248, 190, 0);
      }
    }
  }

  .bars {
    background: none;
    border: 0;
    color: white;
    font-size: 1.5em;

    &:focus {
      outline: none;
    }
  }

  .hand-cursor:hover{
    cursor: pointer;
  }
}
